html {
	height: 100%;
	width: 100%;
	font-family: Tahoma, sans-serif;
	background-color: #CDCDCD;
}

body {
	margin: 10px auto;
	text-align: center;
	padding: 3%;
	height: 800px;
	width: 600px;
	border: 1px solid gray;
	background-color: white;
}

#benefits {
	width: 50%;
	margin: 0 auto;
	padding-left: 25%;
	padding-right: 25%;
	text-align: center;
}

#contact {
	width: 100%;
	float: left;
}

#userID {
	width: 100%;
	float: left;
}

h2 {
	font-size: 20px;
	text-indent: 0;
	text-align: center;
	margin: 10px 5px 10px 5px;
	padding: 5px;
}

h3 {
	font-size: 16px;
	text-indent: 0;
	text-decoration: underline;
	margin: 10px 5px 10px 5px;
	padding: 5px;
}

h4 {
	font-size: 14px;
	text-indent: 0;
	margin: 4px;
	padding: 4px;	
}

ul {
	width: auto;
	list-style-type: square;
	float: left;
	padding: 0;
}

li {
	margin: 2px;
}
