html {
	height: 100%;
	width: 100%;
	font-family: Tahoma, sans-serif;
}
#image{
	z-index: -1; 
	position: absolute; 
	top: 13px; 
	left: 2px
}
body {
	margin: 10px auto;
	text-align: center;
	padding: 3%;
	height: 860px;
	width: 660px;
	border: 1px solid #969696;
}
.auto-style5 {
	margin-left: 0px;
	margin-top: 238px;
}

#contact {
	font-family: "Source Sans Pro Semibold";
	font-size: large;
	font-weight: 300;
	color: #669999;
	float: left;
	width: 94%;
	position:absolute; 
	left:20px; 
	top:700px

}

#userID {
	width: 100%;
	float: left;
	position:absolute; 
	left:20px; 
	top:760px
}

h2 {
	font-family: Kredit;
	font-size: xx-large;
	font-weight: 800;
	font-variant: normal;
	color: #663300;
	text-indent: 0;
	text-align: center;
	margin: 10px 5px 10px 5px;
	padding: 5px;
	position:absolute; 
	left:170px; 
	top:540px
}

h4 {
	font-size: 14px;
	text-indent: 0;
	margin: 4px;
	padding: 4px;	
}

